body {
    background-image: url("bg.jpg");
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
h1 {
    
    color: rgb(249, 17, 17);
    text-align: center;
}
.container {
    max-width: 900px;
    margin: auto;
    /* background: #fff; */
    background-color: rgba(122, 122, 122, 0.6);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input, button {
    padding: 10px;
    margin: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 10px;
    text-align: center;
}
